[user]
	name = Mark Old
	email = dlom234@gmail.com
	signingkey = 4415BCB584603E6A
[alias]
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	s = status
	l = log
	c = commit
	cm = commit -m
	a = add
	d = diff
	r = diff --cached
[color]
	ui = true
[diff]
	algorithm = patience
[push]
	default = simple
[pull]
	rebase = true
[url "git@git.dev.kochava.com:"]
    insteadOf = "https://git.dev.kochava.com"
[url "git@github.com:"]
	insteadOf = "https://github.com"
[includeIf "gitdir:~/go/src/git.dev.kochava.com/"]
	path = ~/.gitconfig-work
[commit]
	gpgsign = true
