[user]
	name = Mark Old
	email = dlom234@gmail.com
	signingkey = DE9CE941C4AD4988
[alias]
	ignore = update-index --assume-unchanged
[alias]
	unignore = update-index --no-assume-unchanged
[alias]
	s = status
[alias]
	l = log
[alias]
	c = commit
[alias]
	cm = commit -m
[alias]
	a = add
[alias]
	d = diff
[alias]
	review = diff --cached
[color]
	ui = true
[diff]
	algorithm = patience
[push]
	default = simple
[pull]
	rebase = true
[commit]
	gpgsign = true
