#!/bin/sh
dex -a

export EDITOR=code
export QT_AUTO_SCREEN_SCALE_FACTOR=0
export QT_QPA_PLATFORMTHEME=gtk2
export MOZ_USE_XINPUT2=1
export GOPATH=$HOME/go

exec >> ~/.cache/$1/stdout
exec 2>> ~/.cache/$1/stderr
